

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


*, *::before, *::after {
    box-sizing: inherit;
}

body {
  font-family: var( --font-spartan);
  margin: 0;
  padding: 0;
}


$mobile-breakpoint: 640px;

@media (max-width: $mobile-breakpoint) {
  body {
    overflow-x: hidden;
  }
}
