:root {
    --black-text: #000;
    --white-text: #fff;
    --nav-bar: #E3E6F3;
    --nav-text: #1a1a1a;
    --nav-hover: #088178;
    --hero-text: #222;
    --feature-border: #cce7d0;
    --button1-bg: #fddde4;
    --button2-bg: #cdebbc;
    --button3-bg: #d1e8f2;
    --button4-bg: #cdd4f8;
    --button5-bg: #f6dbf6;
    --button6-bg: #fff2e5;
    --addidas-text: #606063;
    --star-color: rgb(243, 181, 25);
    --cart-bg: #cce7d0;
    --cart-color: #088173;
    --off-color: #ef3636;
}