@use "../util/" as *;


header {
    padding: 0 20px;
}
.header {
    overflow-x: hidden;
    padding: 10px 25px 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-bar);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;

    nav {
        @include breakpoint-down(medium) {
        position: fixed;
        top: -15px;
        right: -300px;
        height: 100vh;
        width: 300px; 
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 21px 0 0 0;
        transition: 0.4s;
        }
    }

    nav.active {
        @include breakpoint-down(medium) {
            right: 0;
            top: 0;
        }
    }

    nav  li {
        @include breakpoint-down(medium) {
            margin-bottom: 25px;
        }
    }


    &__navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        @include breakpoint-down(medium) {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: inherit;
            padding: inherit;
        }




        

        li {
           list-style: none; 
           padding: 0 20px;
           position: relative;
    
            a {
                font-size: 16px;
                font-weight: 600;
                color: var(--nav-text);
                transition: 0.3s ease; 
            
                 &:hover {
                   color: var(--nav-hover);
                }
            }
        }

    } 
}

nav li a:hover,
nav li a.active {
    color: var(--nav-hover);
}

nav li a.active::after,
nav li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--nav-hover);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
    @include breakpoint-down(medium) {
        display: flex;
        align-items: center;
    }

}
#mobile i {
    @include breakpoint-down(medium) {
       color: #1a1a1a;
       font-size: 24px;
       padding-left: 20px;
    }
}

#close {
    display: none;
    @include breakpoint-down(medium) {
        display: initial;
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        position: absolute;
        top: -20px;
     }  
}
#lg-cart {
    @include breakpoint-down (medium) {
        display: none;
    }
}
